#avatar-frame{
	width: 2rem;
	height: 2rem;
	min-width: 2rem;
	min-height: 2rem;
	border-radius: 50%;
	padding: 2px;
	margin-top: 1px;
	display: flex;
	overflow-y: auto;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.participant-row:nth-child(odd) {
	background-color: #f8f9fa; /* Light gray background for odd rows */
}


.padding {
    padding: 3rem !important
}

.user-card-full {
    overflow: hidden;
}

.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
    box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
    border: none;
    margin-bottom: 30px;
}

.m-r-0 {
    margin-right: 0px;
}

.m-l-0 {
    margin-left: 0px;
}

.user-card-full .user-profile {
    border-radius: 5px 0 0 5px;
}

.user-profile {
    background: #d8eefd;
    padding: 20px 0;
}

.card-header {
    background: #d8eefd;
}

.card-block {
    padding: 1.25rem;
}

.m-b-25 {
    margin-bottom: 25px;
}

.img-radius {
    border-radius: 5px;
}

.card .card-block p {
    line-height: 25px;
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0;
}

.card .card-block p {
    line-height: 25px;
}

.text-muted {
    color: #919aa3 !important;
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0;
}

.f-w-600 {
    font-weight: 600;
}

.m-b-20 {
    margin-bottom: 20px;
}

.m-t-20 {
    margin-top: 10px;
}

.p-b-5 {
    padding-bottom: 5px !important;
}

.m-b-10 {
    margin-bottom: 10px;
}

.m-t-40 {
    margin-top: 20px;
}