.container{
}

#main-card{
	height: 680px;
	width: 300px;
	padding-left: 0;
	padding-right: 0;
}

.card-header{
	display: flex;
	align-items: center;
	justify-content: center;
}

#chat-content{
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	overflow: auto;
}

.btn-secondary{
	text-align: center;
	width: 100%;
	border-width: 0px;
	border-radius: 0px;
}

.btn-outline-secondary{
	text-align: center;
	width: 100%;
	border-width: 0px;
	border-radius: 0px;
}