<!DOCTYPE html>
<body>
	<div class="conatiner d-flex justify-content-end mt-0 mb-0 m-3">
		<div id="main-row d-flex justify-content-end" class="row" style="height: 680px;">
			<div id="main-card" class="card">
				<div class="card-header">
					<p class="">All Chats</p>
				</div>
				<div id="chat-content" class="card-body">
					@for (chat of webSocketService.allChatsPaths; track chat ){
						@if (chat == webSocketService.activeSocketPath ){
							<button class="btn btn-secondary btn-sm fs-4" type="button">
								{{chat}}
							</button>
						}
						@else {
							<button class="btn btn-outline-secondary btn-sm fs-4" type="button" (click)="changeActiveChat(chat)">
								{{chat}}
							</button>
						}
					}
				</div>
			</div>
		</div>
	</div>
</body>