<html lang="en" data-bs-theme="auto">
<body>
  <div class="overlay" *ngIf="showSuccessMessage">
    <div class="message-box">
      <h4>Registration Successful</h4>
      <p>Your account has been created successfully.</p>
      <div>
        <img src="assets/check.png" alt="checked">
      </div>
      <br>
      <button class="btnLoginBack" (click)="redirectToLogin()">Go to Login</button>
    </div>
  </div>

  <div class="container login-container" [ngClass]="{'blur-background': showSuccessMessage}">
    <div class="row">
      <div class="login-form-1" *ngIf="!emailSubmitted && source === 'forget' && !validOTP">
        <h3>{{ tittleLabel }}</h3>
        <div class="form-group">
          <input type="text" class="form-control" id="email" [(ngModel)]="email" name="email" placeholder="Email *" value="" required/>
        </div>
        <div class="form-group">
          <button class="btnSubmit" (click)="reSend()">Send OTP</button>
        </div>
      </div>

      <div class="login-form-1" *ngIf="emailSubmitted && source === 'forget' && validOTP">
        <h3>{{ tittleLabel }}</h3>
        <form #passwordForm="ngForm" (ngSubmit)="onUpdatePassword(passwordForm)">
          <div class="form-group" [ngClass]="{'has-error': passwordForm.submitted && !passwordForm.controls['newPassword'].valid}">
            <input type="password" class="form-control" id="newPassword" [(ngModel)]="newPassword" name="newPassword" placeholder="New Password *"
              required minlength="7" 
              pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&*()_+\[\]:;?/>.,])[^ ]{7,}" />
            <div *ngIf="passwordForm.submitted && passwordForm.controls['newPassword']?.errors?.['required']" class="error-message">Password is required</div>
            <div *ngIf="passwordForm.submitted && passwordForm.controls['newPassword']?.errors?.['minlength']" class="error-message">Password must be at least 7 characters long</div>
            <div *ngIf="passwordForm.submitted && passwordForm.controls['newPassword']?.errors?.['pattern']" class="error-message">Password must contain at least 1 digit, 1 uppercase letter, 1 lowercase letter, and 1 symbol</div>
          </div>
          <div class="form-group" [ngClass]="{'has-error': passwordForm.submitted && confirmPassword !== newPassword}">
            <input type="password" class="form-control" id="confirmPassword" [(ngModel)]="confirmPassword" name="confirmPassword" placeholder="Confirm Your Password *" required />
            <div *ngIf="passwordForm.submitted && confirmPassword !== newPassword" class="error-message">Passwords do not match</div>
          </div>
          <div class="form-group">
            <input type="submit" class="btnSubmit" value="Update Password" />
          </div>
        </form>
      </div>

      <div class="login-form-1" *ngIf="(!emailSubmitted && source !== 'forget') || (emailSubmitted && !validOTP)">
        <h3>{{ tittleLabel }}</h3>
        <form (ngSubmit)="onLogin()">
          <div class="form-group" *ngIf="source !== 'forget'">
            <input type="text" class="form-control" id="email" [(ngModel)]="email" name="email" placeholder="Email *" value="" required/>
          </div>
          <div class="form-group">
            <input type="password" class="form-control" id="otp" [(ngModel)]="otp" name="otp" placeholder="OTP Code *" value="" required/>
          </div>
          <div class="form-group">
            <input type="submit" class="btnSubmit" [value]="buttonLabel" />
          </div>
          <div class="form-group">
            <a class="Resend" (click)="reSend()">Resend the code</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
