<!DOCTYPE html>
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
<body>
	<div class="conatiner-fluid mt-4">
		<div id="main-row" class="row justify-content-center">

				<div id="chat-list-area" class="col-3 collapse">
					<app-chat-list></app-chat-list>
				</div>

				<div id="main-card" class="card">
					<div class="card-header fs-3">
						@if(currentRoute === '/chat'){
							<button class="btn btn-outline-secondary btn-sm border-0 fs-5" type="button" data-bs-toggle="collapse" data-bs-target="#chat-list-area" aria-expanded="false" aria-controls="chat-list-area" (click)="toggleCollapse()">
								@if(chatListExpanded){
									<i class="bi bi-arrow-bar-right"></i>
								}
								@else {
									<i class="bi bi-arrow-bar-left"></i>
								}
								Chats
								@if (newChats.length > 0){
									<span class="badge rounded-pill bg-danger" style="font-size: 10px; margin-left: 2px; margin-top: -2px;">new</span>
								}
							</button>
						}
						{{ webSocketService.activeSocketPath === "main" ? "MAIN CHAT" : currentRoute === '/chat' ? webSocketService.activeSocketPath.toLocaleUpperCase() : 'GAME CHAT'}}
						@if (webSocketService.activeSocketPath === "main"){
							<button id="show-participants-btn" class="btn btn-outline-secondary btn-circle d-flex align-items-center justify-content-center" type="submit" (click)="handleParticipantsClick()">
								<i class="bi bi-people-fill"></i>
							</button>
						}
					</div>

					<div id="chat-content" class="card-body p-2">
						@if (webSocketService.chatMessages.has(webSocketService.activeSocketPath)){
							@for (data of webSocketService.chatMessages.get(webSocketService.activeSocketPath); track data){
								@if (data.invitation !== ' '){
									@if (data.invitation === userDataSrv.username() && acceptInvitation(data.user)){
									}
								}
								@else if (data.isGreeting){
									<div class="d-flex justify-content-center align-content-center mb-3">
										<div class="px-2">
											<div class="card d-inline-block px-2 mt-3 others" style="border-top-left-radius: 0;">
												<span class="d-flex body-text">{{ data.message }}</span>
											</div>
										</div>
									</div>
								}
								@else if (userDataSrv.username() !== data.user){
									<div class="d-flex align-items-top mb-3">
										<div id="avatar-frame">
											<img src={{data.avatar}} class="img-fluid rounded-circle" alt=""/>
										</div>
										<div class="px-2">
											<div class="card d-inline-block px-2 mt-3 others" style="border-top-left-radius: 0;">
												<div class="d-flex justify-content-between">
													<span class=" roboto-user">{{data.user}}</span>
													<span class="timestamp" style="	margin-left: 20px;">{{data.timestamp}}</span>
												</div>
												<span class="d-flex body-text">{{ data.message }}</span>
												@if (data.isGame) {
													<br>
													<button id="join-game-l" class="btn btn-primary " type="submit" (click)="handleJoinClick(data.gameId)">
														<div class="d-flex justify-content-start p-2 align-content-center">
															<p class="mb-0">Join the game </p>
															<i class="bi bi-door-open ms-2"></i>
														</div>
													</button>
												}
											</div>
										</div>
									</div>
								}
								@else{
									<div class="d-flex align-items-top justify-content-end mb-3">
										<div class="px-2 justify-content-end">
											<div class="card d-inline-block px-2  mt-3  d-flex justify-content-end me" style="border-top-right-radius: 0;">
												<div class="d-flex justify-content-between">
													<span class="timestamp" style="	margin-right: 20px;">{{data.timestamp}}</span>
													<span class=" roboto-user">Me</span>
												</div>
												<span class="d-flex justify-content-end body-text">{{ data.message }}</span>
												@if (data.isGame){
													<br>
													<button id="join-game-r" class="btn btn-primary" type="submit" (click)="handleJoinClick(data.gameId)">
														<div class="d-flex justify-content-end p-2 align-content-center">
															<p class="mb-0">Join the game </p>
															<i class="bi bi-door-open ms-2"></i>
														</div>
													</button>
												}
											</div>
										</div>
										<div id="avatar-frame">
											<img src={{data.avatar}} class="img-fluid rounded-circle" alt=""/>
										</div>
									</div>
								}
							}
						}
						@else {
							<div class="d-flex justify-content-center align-content-center mb-3">
								<div class="px-2">
									<div class="card d-inline-block px-2 mt-3 others" style="border-top-left-radius: 0;">
										<span class="d-flex body-text">Current chat is not available</span>
									</div>
								</div>
							</div>
						}
					</div>

					<div class="card-footer bottom-0 m-0 p-1">
						<div id="footer-input" class="input-group" >
							<input type="text" class="form-control" placeholder="Message" aria-label="msg" aria-describedby="basic-addon1" [(ngModel)]="webSocketService.currentMsg.message" (keydown.enter)="webSocketService.sendMessage(false)">
							@if (currentRoute === '/chat'){
								<button id="send-game-btn" class="btn btn-secondary p-2 d-flex align-content-center" type="submit" (click)="handleGameClick()">
									<p class="mb-0">Create Game
										<i class="bi bi-joystick ms-2"></i>
									</p>
								</button>
							}
							<button id="send-msg-btn" class="btn btn-primary" type="submit" (click)="handleButtonClick()">
								<i class="bi bi-send send-btn"></i>
							</button>
						</div>
					</div>

				</div>

		</div>
	</div>
</body>
