@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

#avatar-frame{
	width: 2rem;
	height: 2rem;
	min-width: 2rem;
	min-height: 2rem;
	border-radius: 50%;
	padding: 2px;
	margin-top: 1px;
	display: flex;
	overflow-y: auto;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}


#main-row{
	width: 100%;
}

.btn-circle {
	width: 35px;
	height: 35px;
	padding: 0;
	border-radius: 50%;
	text-align: center;
	line-height: 50px;
	font-size: 1.4rem;
  }

#main-card{
	max-width: 1200px;
	height: 680px;
	width: 100%;
	padding-left: 0;
	padding-right: 0;
}

.card-header{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.card-footer{
	margin-left: 3px;
	margin-right: 3px;
}

#chat-content{
	min-height: 500;
	overflow: auto;
}

#footer-input{
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 5px;
}

.card.d-inline-block.px-2{
	max-width: 100%;
	word-break: break-all;
	white-space: pre-wrap;
	border-width: 0;
}

.roboto-room-name{
	font-family: "Roboto Condensed", sans-serif;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;
	font-size: 1.5em;
	color: #666666;
}

.roboto-user{
	font-family: "Roboto Condensed", sans-serif;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;
	font-size: 1.2em;
	color: #666666;
}

.body-text {
	font-family: "Roboto Condensed", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-size: 1em;
	color: #666666;
}

.others{
	background-color: #f2f2f2;
}

.me{
	background-color: #d8fddc;
}

.timestamp {

	margin-top: 4px;
	font-family: "Roboto Condensed", sans-serif;
	font-optical-sizing: auto;
	font-weight: 300;
	font-style: normal;
	font-size: 0.7em;
	color: #666666;
}

.start-game-btn{
	width: 20px;
	height: 20px;
}

.send-btn{
	width: 60px;
	height: 60px;
}