

.row {
/* 	background-color: orange; */
	padding: 5 px;
	margin: 10px;
}


/* .col-1{
	background-color: red;
	border: 3px solid rgb(110, 73, 5);
}
.col-3{
	background-color: red;
	border: 3px solid rgb(110, 73, 5);
}

.col-9{
	background-color: grey;
	border: 3px solid rgb(110, 73, 5);
} */

#chat-area{
	min-height: 700px;
}

#chatContent{
	min-height: 500px;
}





body {
	padding-bottom: 40px;
}

.container-fluid {
	margin-bottom: 20px;
}


app-footer {
	margin-top: 20px;
}

