
<app-menu></app-menu>
<body>
	<div class="container-fluid">
		<div id="main-row justify-content-center align-items-center" class="row m-4">
			<div id="game-col" class="col-8">
				<div id="play-row" class="row justify-content-center align-items-center">
					<img [src]="'assets/machine.webp'" style="height: 600px; width: 600px; object-fit: contain;"/>
				</div>
			</div>
			<div id="game-col" class="col-4 d-flex flex-column justify-content-center">
				<div id="play-row" class="row">
					<button type="button" class="btn" [routerLink]="['/tournament']"><span class="roboto-condensed-700">TOURNAMENT</span></button>
				</div>
				<div id="play-row" class="row">
					<button type="button" class="btn" [routerLink]="['/chat']"><span class="roboto-condensed-700">CHAT</span></button>
				</div>
				<div id="play-row" class="row">
					<button type="button" class="btn" [routerLink]="['/ranking']"><span class="roboto-condensed-700">RANKING</span></button>
				</div>
			</div>
		</div>
	</div>
</body>
<app-footer></app-footer>