version: '3'
services:
    nginx:
        build:
            context: .
            dockerfile: nginx/Dockerfile
        container_name: nginx
        ports:
            - "443:443"
        restart: always
        networks:
            - docker_network
networks:
    docker_network:
            driver: bridge
