version: '3'
services:
    nginx:
        build:
            context: .
            dockerfile: nginx/Dockerfile
        container_name: nginx
        ports:
          - "443:443"
        restart: always
        networks:
          - docker_network
    mariadb:
        build:
            context: .
            dockerfile: mariadb/Dockerfile
        container_name: mariadb
        env_file:
          - ./.env
        environment:
          MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
          MYSQL_DATABASE: ${MYSQL_DATABASE}
          MYSQL_USER: ${MYSQL_USER}
          MYSQL_PASSWORD: ${MYSQL_PASSWORD}
        # command: --transaction-isolation=READ-COMMITTED --binlog-format=ROW
        volumes:
          - db_data:/var/lib/mysql
        ports:
          - "3306:3306"
        restart: always
        networks:
          - docker_network
networks:
    docker_network:
            driver: bridge
volumes:
  db_data:
