
version: '3'
services:
  mariadb:
    build:
      context: .
      dockerfile: mariadb/Dockerfile
    container_name: mariadb
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    volumes:
      - db_data:/var/lib/mysql
    ports:
      - "3306:3306"
    restart: unless-stopped
    networks:
      - docker_network

  wordpress:
    build:
      context: .
      dockerfile: wordpress/Dockerfile
    container_name: wordpress
    #hostname: php_fpm_server
    #image: "wordpress_image"
    depends_on:
      mariadb:
        condition: service_started
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      WORDPRESS_DB_HOST: ${WORDPRESS_DB_HOST}
      WORDPRESS_URL: ${WORDPRESS_URL}
      WORDPRESS_TITLE: ${WORDPRESS_TITLE}
      WORDPRESS_ADMIN_USER: ${WORDPRESS_ADMIN_USER}
      WORDPRESS_ADMIN_PASSWORD: ${WORDPRESS_ADMIN_PASSWORD}
      WORDPRESS_ADMIN_EMAIL: ${WORDPRESS_ADMIN_EMAIL}
      WORDPRESS_USER: ${WORDPRESS_USER}
      WORDPRESS_USER_PASSWORD: ${WORDPRESS_USER_PASSWORD}
      WORDPRESS_USER_EMAIL: ${WORDPRESS_USER_EMAIL}
      WORDPRESS_USER_ROLE: ${WORDPRESS_USER_ROLE}
      WP_DIR: ${WP_DIR}
      WP_CONFIG: ${WP_CONFIG}
    volumes:
      - wp_data:/var/www/inception
    ports:
      - "9000:9000"
    restart: unless-stopped
    networks:
      - docker_network

  nginx:
    build:
      context: .
      dockerfile: nginx/Dockerfile
    container_name: nginx
    depends_on:
      mariadb:
        condition: service_started
    ports:
      - "443:443"
    restart: unless-stopped
    networks:
      - docker_network

networks:
  docker_network:
    driver: bridge

volumes:
  db_data:
    driver: local
    driver_opts:
      type: none
      device: ${HOME}/42/cursus/6Ring/Inception/mariadb/db_data
      o: bind
  wp_data:
    driver: local
    driver_opts:
      type: none
      device: ${HOME}/42/cursus/6Ring/Inception/wordpress/wp_data
      o: bind
