version: '3'
services:
    nginx:
        build: .
        container_name: nginx
        ports:
            - "443:443"
        restart: always
        networks:
            - docker_network
networks:
    docker_network:
            driver: bridge
