.footer{
	font-size: small;
	border-radius: 10px;
	background-color: #f1f9ff;	
	display: flex;
	justify-content:flex-end;
	bottom: 4%;
	width: 96%;
	position: relative;
	margin-left: 2%;
	margin-right: 2%;
}