

<body>
	<div class="container-fluid">
		<div class="confetti"></div>
		<div class="confetti"></div>
		<div class="confetti"></div>
		<div class="confetti"></div>
		<div class="confetti"></div>

		<div class="modal-header">
			<h1 class="modal-title fs-5" id="exitConfirmationModalLabel">MATCH FINISHED</h1>
		</div>
		<div class="modal-body">
			{{winner}} has won the game. Congratulations! 🥳
		</div>
		<div class="modal-footer">
			@if (router.url.includes("semi_") || router.url.includes("final_")){
				<button type="button" class="btn btn-primary" (click)="returnToTournament()">Return to Tournament board</button>
			}
			@else {
				<button type="button" class="btn btn-primary" (click)="returnToDashboard()">Return to Dashboard</button>
			}
		</div>

		<div class="confetti"></div>
		<div class="confetti"></div>
		<div class="confetti"></div>
		<div class="confetti"></div>
		<div class="confetti"></div>
	</div>
</body>