<!DOCTYPE html>
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
<body>
	<app-menu></app-menu>
	<div class="conatiner-fluid mt-4">
		<div id="main-row" class="row" style=" margin: 2%">
			MAIN TOURNAMENT

			<div class='bracket'>
				<div class='round'>
					SEMIFINALS
					<div class="match">
						<div class="team">{{tournamentServ.tournament.participants.length >= 1 ? tournamentServ.tournament.participants[0] : "Waiting for players..."}}</div>
						<div class="team">{{tournamentServ.tournament.participants.length >= 2 ? tournamentServ.tournament.participants[1] : "Waiting for players..."}}</div>
					</div>
					<div class="match">
						<div class="team">{{tournamentServ.tournament.participants.length >= 3 ? tournamentServ.tournament.participants[2] : "Waiting for players..."}}</div>
						<div class="team">{{tournamentServ.tournament.participants.length >= 4 ? tournamentServ.tournament.participants[3] : "Waiting for players..."}}</div>
					</div>
				</div>
				<div class='round'>
					FINAL
					<div class="match">
						<div class="team">{{tournamentServ.tournament.finalists.length >= 1 ? tournamentServ.tournament.finalists[0] : "?"}}</div>
						<div class="team">{{tournamentServ.tournament.finalists.length >= 2 ? tournamentServ.tournament.finalists[1] : "?"}}</div>
					</div>
				</div>
				<div class='round'>
					WINNER 🏆
					<div class="match">
						<div class="team">{{tournamentServ.tournament.champ !== "" ? tournamentServ.tournament.champ : "?"}}</div>
					</div>
				</div>
			</div>

			@if (tournamentServ.tournament.participants.length < 4){
				@if (insideTournament === false){
					<button class="btn btn-outline-secondary d-flex align-items-center justify-content-center" type="submit" (click)="addMeToTournament()">
						Join Tournament
						<i class="bi bi-box-arrow-in-left m-2 fs-4"></i>
					</button>
				}
				@else {
					<button class="btn btn-outline-danger d-flex align-items-center justify-content-center" type="submit" (click)="removeMeFromTournament()">
						Exit Tournament
						<i class="bi bi-x  m-2 fs-4"></i>
					</button>
				}
			}
			@else {
				<button class="btn btn-outline-secondary border-0 d-flex align-items-center justify-content-center" type="submit">
					Tournament in progress: wait for the next one
				</button>
			}
		</div>
	</div>
	<app-footer></app-footer>
</body>
