body {
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
}

.navbar-brand{
    color: #0062cc;
}
.navbar {
    border-radius: 10px;
}
li {
    list-style-type: none;
}

.f-w-600 {
    font-weight: 600;
}