<!DOCTYPE html>
<body>
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #d8eefd;">
  <div class="container-fluid">
    <a class="navbar-brand f-w-600">TRANSCENDENCE</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
		<ul class="navbar-nav me-auto mb-2 mb-lg-0">
			@if (atHome() == false) {
				<li class="nav-item">
					<a class="nav-link active f-w-600" aria-current="page" routerLink="/dashboard">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link f-w-600" routerLink="/ranking">Ranking</a>
				</li>
			}
		</ul>
       <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="UserDropDownMenuLink" role="button" data-bs-toggle="dropdown">
          <img [src]="getAvatarUrl()" height="48"/>
        </a>
        <ul class="dropdown-menu dropdown-menu-end">
          <li>
            <a class="dropdown-item" href="/profile">My profile</a>
          </li>
          <li>
            <button class="dropdown-item" (click)="logout()">Logout</button>
          </li>
        </ul>
      </li>
    </div>
  </div>
</nav>
</body>