<html lang="en" data-bs-theme="auto">
<body>
	<div class="container login-container" [ngClass]="{'blur-background': showSuccessMessage}">
        <div class="row">
        <div class="login-form-2">
            <i class="bi bi-arrow-left-circle-fill" (click)="goToLogin()" style="cursor: pointer; position: absolute; top: 10px; left: 10px; font-size: 24px;"></i>
            <h3>Register</h3>
            <form #registerForm="ngForm" (ngSubmit)="userOptions(registerForm)">
                    <div class="form-group" [ngClass]="{'has-error': registerForm.submitted && !registerForm.controls['registerEmail'].valid}">
                        <input type="text" class="form-control" id="registeriEmail" [(ngModel)]="registerEmail" name="registerEmail" placeholder="Email *" required email/>
                        <div *ngIf="registerForm.submitted && registerForm.controls['registerEmail']?.errors?.['required']" class="error-message">Email is required</div>
                        <div *ngIf="registerForm.submitted && registerForm.controls['registerEmail']?.errors?.['email']" class="error-message">Invalid email format</div>
                    </div>
                    <div class="form-group" [ngClass]="{'has-error': registerForm.submitted && !registerForm.controls['registerPassword'].valid}">
                        <input type="password" class="form-control" id="registerPassword" [(ngModel)]="registerPassword" name="registerPassword" placeholder="Your Password *"
                            required minlength="7" 
                            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&*()_+\[\]:;?/>.,])[^ ]{7,}" />
                            <div *ngIf="registerForm.submitted && registerForm.controls['registerPassword']?.errors?.['required']" class="error-message">Password is required</div>
                            <div *ngIf="registerForm.submitted && registerForm.controls['registerPassword']?.errors?.['minlength']" class="error-message">Password must be at least 7 characters long</div>
                            <div *ngIf="registerForm.submitted && registerForm.controls['registerPassword']?.errors?.['pattern']" class="error-message">Password must contain at least 0 digit, 1 uppercase letter, 1 lowercase letter, and 1 symbol</div>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="confirmPassword" [(ngModel)]="confirmPassword" name="confirmPassword" placeholder="Confirm Your Password *" required />
                        <div *ngIf="registerForm.submitted && confirmPassword !== registerPassword" class="error-message">Passwords do not match</div>
                    </div>
	    			<br>
                    <div class="form-group">
                        <input type="text" class="form-control" id="registerUsername" name="registerUsername" placeholder="Username *" required [(ngModel)]="registerUsername" #registerUsernameField="ngModel" />
                        <div *ngIf="registerForm.submitted && registerForm.controls['registerUsername']?.errors?.['required']" class="error-message">Username is required</div>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="selectedImage">Select an avatar:</label>
                        <div class="image-selection">
                            <img *ngFor="let image of images; let i = index"
                            [src]="image.src"
                            [alt]="image.alt"
                            class="selectable-image"
                            [ngClass]="{'selected': selectedImageIndex === i + 1}"
                            (click)="selectImage(i + 1)">
                        </div>
                        <input type="hidden" name="selectedImage" [value]="selectedImageIndex !== null ? images[selectedImageIndex - 1].src : ''">
                    </div>
                    <br>
                    <div class="form-group button-container">
                        <input type="submit" class="btnSubmit" value="Register" />
                    </div>
                </form> 
            </div>
        </div>
    </div>
</body>
</html>