<!DOCTYPE html>
<body>
	<div class="container-fluid">
		@if (gameFinishedModalOpened == false && gameService.gameInProgress == false){
			{{openGameFinishedModal()}}
		}
		<div id="main-game-row" class="row justify-content-center">
			<div id="score-row" class="row justify-content-between gy-2">
				<div class="col-3">
					<img [src]= "oponentLoaded ? playerOneAvatar : 'assets/question.webp'" height="48"/>
					<p id="p1" >{{ oponentLoaded ? playerOneUsername : 'Connecting...' }} </p>
					<img src="assets/w-key.png" alt="W Key" height="24"/>
					<img src="assets/s-key.png" alt="S Key" height="24"/>
				</div>
				<div id="s1" class="col-1 text-center">
					<h1>{{gameService.scoreLeft}}</h1>
				</div>
				<div class="col-1 text-center">
					<h1 id="s2">{{gameService.scoreRight}}</h1>
				</div>
				<div class="col-3 text-end">
					<img [src]= "oponentLoaded ? playerTwoAvatar : 'assets/question.webp'" height="48"/>
					<p id="p1" >{{ oponentLoaded ? playerTwoUsername : 'Connecting...' }} </p>
					<img src="assets/up-arrow-key.png" alt="Up Arrow Key" height="24"/>
					<img src="assets/down-arrow-key.png" alt="Down Arrow Key" height="24"/>
				</div>
			</div>

			<div id="play-row" class="row ">
				<div class="col-12">
					<canvas id="pongCanvas" class="game-canvas" width="800" height="400"></canvas>
				</div>
			</div>
		</div>
	</div>
</body>