@if (router.url.includes("tournament")){
	<div class="modal-header">
		<h1 class="modal-title fs-5" id="exitConfirmationModalLabel">Are you sure you want to leave the tournament?</h1>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-secondary" (click)="dismiss()">Continue</button>
		<button type="button" class="btn btn-primary" (click)="confirmExitTournament()">Exit</button>
	</div>
}
@else{
	<div class="modal-header">
		<h1 class="modal-title fs-5" id="exitConfirmationModalLabel">Are you sure you want to leave the game?</h1>
	</div>
	<div class="modal-body">
		If you leave, you will lose the game.
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-secondary" (click)="dismiss()">Continue Playing</button>
		<button type="button" class="btn btn-primary" (click)="confirmExit()">Exit</button>
	</div>
}
