<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
</head>
<body>
    <textarea id="chat-log" cols="100" rows="20" readonly></textarea><br>
    <input id="username-input" type="text" placeholder="Username" size="20">
    <input id="avatar-input" type="text" placeholder="Avatar URL" size="20">
    <input id="chat-message-input" type="text" size="50" placeholder="Type your message"><br>
    <input id="is-game-challenge" type="checkbox"> Game Challenge
    <input id="game-id" type="text" placeholder="Game ID" size="20">
    <input id="is-greating" type="checkbox"> Greeting
    <input id="chat-message-submit" type="button" value="Send">
    {{ room_name|json_script:"room-name" }}
    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        const chatSocket = new WebSocket(
            'wss://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            const message = `${data.username} (${data.hour}): ${data.message}`;
            document.querySelector('#chat-log').value += (message + '\n');
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.key === 'Enter') {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const usernameInputDom = document.querySelector('#username-input');
            const avatarInputDom = document.querySelector('#avatar-input');
            const isGameChallengeDom = document.querySelector('#is-game-challenge');
            const gameIdInputDom = document.querySelector('#game-id');
            const isGreatingDom = document.querySelector('#is-greating');
            
            const message = messageInputDom.value;
            const username = usernameInputDom.value || 'Anonymous';
            const avatar = avatarInputDom.value || '';
            const hour = new Date().toLocaleTimeString();
            const isGameChallenge = isGameChallengeDom.checked;
            const gameId = gameIdInputDom.value || '';
            const isGreating = isGreatingDom.checked;

            chatSocket.send(JSON.stringify({
                'username': username,
                'avatar': avatar,
                'message': message,
                'hour': hour,
                'isGameChallenge': isGameChallenge,
                'gameId': gameId,
                'isGreating': isGreating,
            }));

            messageInputDom.value = '';
            isGameChallengeDom.checked = false;
            gameIdInputDom.value = '';
            isGreatingDom.checked = false;
        };
    </script>
</body>
</html>
