<!-- login.component.html -->
<body>
	<div class="container login-container">
        <div class="row">
        <div class="login-form-1">
            <h3>Transcendence</h3>
                <form (ngSubmit)="onLogin()">
                    <div class="form-group">
                        <input type="text" class="form-control" id="email" [(ngModel)]="email" name="email" placeholder="Email *" value="" required/>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="password" [(ngModel)]="password" name="password" placeholder="Your Password *" value="" required/>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btnSubmit" value="Login" />
                        <input type="button" class="btnSubmit" value="42 Login" (click)="on42Login()"/>
                    </div>
                    <div class="form-group">
                        <a class="Router left-link" (click)="onForget()">Forget Password?</a>
                        <a class="Router right-link" (click)="onRegister()">Register</a>
                    </div>
                </form>
            </div>
        </div>
	</div>
</body>
