/*Bootstrap login*/
.container {
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	max-width: 60%;
}

input {
	margin: 8px 0;
}
.login-container{
    margin-top: 5%;
    margin-bottom: 5%;
}
.login-form-1{
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-1 h3{
    text-align: center;
    color: #333;
}
.login-form-1 input{
	background-color: #0062cc;
	color: #fff;
}

.login-container form{
    padding: 10%;
}
.btnSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}
.login-form-1 .btnSubmit{
    font-weight: 600;
    color: #fff;
    background-color: #0062cc;
}

.login-form-1 .ForgetPwd{
    color: #0062cc;
    font-weight: 600;
    text-decoration: none;
}

.Router{
    color: #0062cc;
    font-weight: 600;
    text-decoration: none;
    float: right;
    cursor: pointer;
}

.left-link {
  float: left;
}

.right-link {
  float: right;
}

.has-error .form-control {
  border-color: red;
}

.error-message {
  color: red;
  font-size: 12px;
}