<app-menu></app-menu>
<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <h2 class="text-center mb-4">Ranking</h2>
      <div class="table-responsive">
        <table class="table table-hover">
          <thead class="thead-light">
            <tr>
              <th scope="col">Position</th>
              <th scope="col">Player</th>
              <th scope="col">Wins</th>
              <th scope="col">Games</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let player of paginatedRanking; let i = index">
              <th scope="row">{{ i + 1 + (currentRankingPage - 1) * itemsPerPage }}</th>
              <td>{{ player.username }}</td>
              <td>{{ player.wins }}</td>
              <td>{{ player.games }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div *ngIf="ranking.length > itemsPerPage" class="d-flex justify-content-between mt-2">
        <button class="btn btn-secondary btn-sm" (click)="previousRankingPage()" [disabled]="currentRankingPage === 1">Previous</button>
        <button class="btn btn-secondary btn-sm" (click)="nextRankingPage()" [disabled]="currentRankingPage * itemsPerPage >= ranking.length">Next</button>
      </div>
    </div>
  </div>
  
  <div class="row mt-5">
    <div class="col-12">
      <h3 class="text-center mb-4">General Played Games</h3>
      <div class="table-responsive">
        <table class="table table-hover table-sm">
          <thead class="thead-light">
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Players</th>
              <th scope="col">Result</th>
              <th scope="col">Game</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let game of paginatedGames">
              <td>{{ game.created_at | date: 'short' }}</td>
              <td>
                {{ game.player_x.username }} vs 
                {{ game.player_o ? game.player_o.username : 'N/A' }}
              </td>
              <td>
                {{ game.player_x_points }} : 
                {{ game.player_o ? game.player_o_points : 'N/A' }}
              </td>
              <td>{{ game.room_name }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div *ngIf="games.length > itemsPerPage" class="d-flex justify-content-between mt-2">
        <button class="btn btn-secondary btn-sm" (click)="previousGamesPage()" [disabled]="currentGamesPage === 1">Previous</button>
        <button class="btn btn-secondary btn-sm" (click)="nextGamesPage()" [disabled]="currentGamesPage * itemsPerPage >= games.length">Next</button>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
